html {
  --color-background-main: #222222;
  --color-text-main: #ffffff;

  --font-family: 'Inter';

  --content-width: 1280px;
  --content-margin: 24px;
  --content-margin-half: calc(var(--content-margin) / 2);
  --content-margin-double: calc(var(--content-margin) * 2);
  --content-gap: 24px;
}
