html {
  font-family: var(--font-family), sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 300;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
}

h1 {
  font-size: 2.4rem;
}

h2 {
  font-size: 1.8rem;
}

h3 {
  font-size: 1.2rem;
}

a {
  color: inherit;
  text-decoration: none;
}
